<!DOCTYPE html>
<html>
<head>
  <head><% include  partials/editorPartials/head.ejs %></head>

</head>

<body>
  <% include  partials/editorPartials/header.ejs %>
  <div id="main">

  <% include partials/editorPartials/templates.ejs %>
  <% include  partials/editorPartials/footer.ejs %>

  
</body>
</html>
