<html>
<head>
  <title>Title</title>
  <style>
  body {
    margin:0;
    padding:0;
    border:0;
  }
  </style>
</head>
<body>

<div>
<div id='editor' style="background-color:#EBEBEB;margin:0 auto;width:990px;"><% include  templates/template1.ejs %></div>
</div>
<script src="/javascripts/settings.js"></script>
<script src="/javascripts/mainFrameSettings.js"></script>
<script src="/javascripts/controller.js"></script>
</body>
</html>