<!DOCTYPE html>
<html>
  <head>
    
    <style>
    @font-face {
    font-family: 'pt_sansregular';
    src: url('/stylesheets/PTS55F-webfont.eot');
    src: url('/stylesheets/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('/stylesheets/PTS55F-webfont.woff') format('woff'),
         url('/stylesheets/PTS55F-webfont.ttf') format('truetype'),
         url('/stylesheets/PTS55F-webfont.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
    header {
      font-weight: normal;
      padding: 20px;
      background-color: #767676;
      font-size: 30px;
      font-weight: bold;
      color: #f9f9f9;
      text-shadow: 2px 2px 8px #000;
      border: 1px solid black;
    }
    footer {
       font-weight: normal;
      padding: 30px;
      background-color: #767676;
      font-size: 20px;
      font-weight: bold;
      color: #f9f9f9;
      border: 1px solid black;
      text-shadow: 2px 2px 8px #000;
    }
    body{
       background-color: #EDEDED;
      font-family: 'pt_sansregular', Arial;
      margin: 0px;
      padding: 0px;
      width: 100%;
    }
    #options {
        width: 1200px;
        height: 180px;
        margin: 170px auto;
        }
    input[type="button"] {
      padding: 40px;
      border: 1px solid black;
      background-color: #C8C8C8;
      width: 350px;
      font-size: 30px;
      margin: 10px;
    }
    </style>
  </head>
  <body>
  <% include partials/template/header.ejs %>
  
  
  	<div id="options">
      <a href="/fromscratch"><input type="button"  id="edit"style="background-image:url(/images/newButton.svg);background-size:contain;background-repeat:no-repeat;background-position:center"/></a>
      <a href="/editor"><input type="button"  style="background-image:url(/images/editB.png);background-size:contain;background-repeat:no-repeat;background-position:center"></a>
      <a><input type="button" onclick="alert('Виконав:Чемерський Олег.')" style="background-image:url(/images/infoB.svg);background-size:contain;background-repeat:no-repeat;background-position:center"></a>

    </div>
  

  <% include partials/template/footer.ejs %>

  </body>
</html>
