<!DOCTYPE html>
<html>
<head>
<style>
    body {
      font-family: "Calibri";
      margin: 0px;
      padding: 0px;
     
    }
	.contentright {
		clear:right;
		padding: 10px;
	}
	.imgleft {
		float:left;
		padding: 10px;
	}
h2 {
	clear:both;
	padding-left: 10px;

}
h1#headerMenu {
	background-color: rgb(0, 67, 102);
	color: white;
	position: relative;
}

	#userheader  {
	height:150px;
	width:990px;
	position: relative; 
	background-position:left;
	background-size:contain;
	background-repeat: no-repeat;
	background-color:#004366;
	}
	p {
	position: relative; 
	}
	#usermain {
	border:1px dashed black;
	width:990px;
	overflow:hidden;
	background-position:center;
	background-size:contain;
	background-repeat: no-repeat;
position: relative; 
	margin-top:10px;
	}
	#usercontent {
	border: 1px dashed black;
	height:400px;
	background-image:url(/images/add_button.png);
	background-position:center;
	background-size:contain;
	background-repeat: no-repeat;
	width:1000px;
	margin-top:10px;
position: relative; 
	}
	#userfooter{
	height:70px;
	background-position:center;
	background-size:contain;
	background-repeat: no-repeat;
	width:990px;
	background-color:#004366;
	margin-top:10px;
	position: relative; 
    }	
	#usernavigation{
	height:60px;
	width:990px;
	border: 1px solid black;
	margin-top:10px;
    position:relative; 
    background-color:#E0E0E0;
    }
	ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
 }
li {
   
  padding: 10px 0 0px 0;
  width: 20%;
  text-align: center;
  border-right: 2px solid #000;
  display: inline-block;
  height:50px;
  vertical-align:middle;
  font-size: 20px;
}

.news {
	overflow: auto;
}

</style>

<title>From Scratch</title>
</head>
<body>
<div style="background-color:rgb(235, 235, 235);position:absolute;height:250px;width:175px;border:1px solid black">
	<p>Виберіть елемент:</p>
	<hr/>
<input type="text" list="browsers" id="types" style="position:absolute;width:140px;margin-left:4px"/>
<datalist id="browsers">
  <option value="Шапка">
  <option value="Футер">
  <option value="Навігація">
  <option value="Контейнер Новин">
  <option value="Новина">
</datalist>
<input type="button" value="+" style="position:absolute;right:2px;" onclick="creat()"/>
<input type="button" value="створити" onclick="createCustomElement()" style="position:absolute;top:215px;right:10px;"/>

</div>

<div id="editor" style="width:1000px;height:500px">
</div> 

<script src="/javascripts/settings.js"></script>
<script src="/javascripts/mainFrameSettings.js"></script>
<script src="/javascripts/controller.js"></script>

<script type="text/javascript">

var dictionary = {
 "Шапка":"userheader",
 "Футер":"userfooter",
 "Навігація":"usernavigation",
 "Контейнер Новин":"newscontainer",
 "Новина":"news"
};
var datalist = document.getElementById ("browsers");
var input = document.getElementById ("types");

 function creat() {
   
        
        	var sElement = document.createElement("div");
        	sElement.id = dictionary[input.value];
        	if(document.getElementById("settings")!=null) {
        		document.getElementById("settings").parentNode.removeChild(document.getElementById("settings"));
        	}
        	initSettingsBarContent(sElement,initSettingsBar());
    
}

function createCustomElement() {
	var input = document.getElementById ("types");
	if(input.value == "Шапка") {
		var eleme = document.createElement("div");
		eleme.id = dictionary["Шапка"];
		eleme.style.height = document.getElementById("height").value;
		eleme.style.width = document.getElementById("width").value;
		eleme.style.backgroundColor = document.getElementById("background-color").value;
		eleme.style.borderRadius = document.getElementById("borderRadius").value;
		eleme.style.position ="relative";
		eleme.addEventListener("mousedown",onMouseDown);
		document.getElementById("editor").appendChild(eleme);
	}
	if(input.value == "Футер") {
		var eleme = document.createElement("div");
		eleme.id = dictionary["Футер"];
		eleme.style.height = document.getElementById("height").value;
		eleme.style.width = document.getElementById("width").value;
		eleme.style.backgroundColor = document.getElementById("background-color").value;
		eleme.style.borderRadius = document.getElementById("borderRadius").value;
		eleme.innerHTML = document.getElementById("innerHTML").value;
		eleme.style.color = document.getElementById("color").value;
		eleme.style.position ="relative";
		eleme.addEventListener("mousedown",onMouseDown);
		document.getElementById("editor").appendChild(eleme);
	}
	if(input.value == "Навігація") {
		var eleme = document.createElement("ul");
		eleme.id = dictionary["Навігація"];
		eleme.style.height = document.getElementById("height").value;
		eleme.style.width = document.getElementById("width").value;
		eleme.style.backgroundColor = document.getElementById("background-color").value;
		eleme.style.borderRadius = document.getElementById("borderRadius").value;
		eleme.style.position ="relative";
		eleme.addEventListener("mousedown",onMouseDown);
		document.getElementById("editor").appendChild(eleme);
	}
	if(input.value == "Контейнер Новин") {
		var eleme = document.createElement("div");
		eleme.id = dictionary["Контейнер Новин"];
		eleme.style.height = document.getElementById("height").value;
		eleme.style.width = document.getElementById("width").value;
		eleme.style.backgroundColor = document.getElementById("background-color").value;
		eleme.style.borderRadius = document.getElementById("borderRadius").value;
		eleme.style.position ="relative";
		eleme.addEventListener("mousedown",onMouseDown);
		document.getElementById("editor").appendChild(eleme);
	}
	if(input.value == "Новина") {
		var eleme = document.createElement("div");
		eleme.className = dictionary["Новина"];
		eleme.id = dictionary["Новина"];
		eleme.style.height = document.getElementById("height").value;
		eleme.style.width = document.getElementById("width").value;
		eleme.style.backgroundColor = document.getElementById("background-color").value;
		eleme.style.borderRadius = document.getElementById("borderRadius").value;
		eleme.style.position ="relative";
		eleme.addEventListener("mousedown",onMouseDown);
		var container = document.getElementById("newscontainer");
		if(container == null) {
			alert("Додайте будь ласка контейнер новин");
		} else {
				container.appendChild(eleme);
		  }
	}

}


 
	/*var createdElements;

	var alavibleElements = {"userheader" : ["img", "height", "width", "background-color", "borderRadius"],
	"userfooter" : ["height", "width", "background-color", "borderRadius", "innerHTML"],
	"usermain" : ["height", "width", "background-color", "borderRadius"],
	"usernavigation" : ["height", "width", "background-color", "borderRadius"],
	"userheadernews" : ["height", "width", "background-color", "borderRadius", "color", "padding", "innerHTML"],
	"userheaderarticle" : ["height", "width", "background-color", "borderRadius", "color", "padding", "innerHTML"],
	"usernews" : ["height", "width","background-color", "borderRadius"],
	"news" : ["height", "width","background-color", "borderRadius"],
	"headermenu" : ["height", "width","background-color", "borderRadius", "innerHTML"],
	"usernavitem" : ["height", "width","background-color", "borderRadius", "innerHTML"]
};
 
    var content;
var lastPositionTop;
var lastPositionLeft; 

//create Settings Bar div 
function initCreaterBar() {       
  
var header = document.createElement("p");
header.innerHTML = "Створення<hr/>";
header.style.fontSize = "20px";
header.style.textAlign = "center";
if(lastPositionTop==null) {

	lastPositionTop = 0;
}

if(lastPositionLeft==null) {

	lastPositionLeft = 0;
}

var div = document.createElement("div");


var startX;
var startY;

var positionTop;
var positionLeft;

div.addEventListener("mousedown", function() {
	positionTop = parseFloat(window.getComputedStyle(this, null).getPropertyValue("top"));
	positionLeft = parseFloat(window.getComputedStyle(this, null).getPropertyValue("left"));
	var movingBar = true;
	startX = window.event.x;
	startY = window.event.y;



	if(positionTop == "auto") {
		positionTop = 0;
	}

	if(positionLeft == "auto") {
		positionLeft = 0;
	}

	div.addEventListener("mousemove", function() {
		if(movingBar == true) {
			var shiftX = window.event.x - startX;
			var shiftY = window.event.y - startY;	

			div.style.top = positionTop + shiftY +"px";
			div.style.left = positionLeft + shiftX +"px";
		}

	});

	div.addEventListener("mouseup", function() {
		movingBar = false;

		lastPositionTop = parseFloat(window.getComputedStyle(div, null).getPropertyValue("top")) + "px";
		lastPositionLeft = parseFloat(window.getComputedStyle(div, null).getPropertyValue("left")) + "px";

	});

});
div.appendChild(header);

return div;
}
var targetElement;
//create form's input based on target properties and append them to parent
function initCreaterBarContent(parent) {
	
	parent.style.width = "250px";
	parent.id = "settings";
	parent.style.maxHeight = "700px";
	parent.style.overflow = "scroll";
	parent.style.backgroundColor = "#EBEBEB";
	parent.style.position = "fixed";
	parent.style.top = lastPositionTop;
	parent.style.borderStyle = "solid";
	parent.style.borderWidth = "2px";
	parent.style.borderColor = "#011845";
	parent.addEventListener("resize", function () {alert("hello");});
	parent.style.left = lastPositionLeft;



	document.body.appendChild(parent);
}
initCreaterBarContent(initCreaterBar());
*/
</script>





</body>
</html>

