<style>
body {
    font-family: "Calibri";
}
.contentright {
	clear:right;
	padding: 10px;
}
.imgleft {
	float:left;
	padding: 10px;
}
h2 {
	clear:both;
	padding-left: 10px;
}
h1#headerMenu {
	background-color: rgb(0, 67, 102);
	color: white;
	position: relative;
}
#userheader  {
	height:150px;
	width:990px;
	position: relative; 
	background-image:url(/images/templateLNU/headerImage.png);
	background-position:left;
	background-size:contain;
	background-repeat: no-repeat;
	background-color:#004366;
}
p {
	position: relative; 
}
#usermain {
	border:1px dashed black;
	width:990px;
	overflow:hidden;
	background-position:center;
	background-size:contain;
	background-repeat: no-repeat;
	position: relative; 
	margin-top:10px;
}
#usercontent {
	border: 1px dashed black;
	height:400px;
	background-image:url(/images/add_button.png);
	background-position:center;
	background-size:contain;
	background-repeat: no-repeat;
	width:1000px;
	margin-top:10px;
	position: relative; 
}
#userfooter{
	height:70px;
	background-position:center;
	background-size:contain;
	background-repeat: no-repeat;
	width:990px;
	background-color:#004366;
	margin-top:10px;
	position: relative; 
}	
#usernavigation{
	height:60px;
	width:990px;
	border: 1px solid black;
	margin-top:10px;
    position:relative; 
    background-color:#E0E0E0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
   
  padding: 10px 0 0px 0;
  width: 20%;
  text-align: center;
  border-right: 2px solid #000;
  display: inline-block;
  height:50px;
  vertical-align:middle;
  font-size: 20px;
}

.news {
	overflow: auto;
}
</style>

<div id="userheader" onmousedown="onMouseDown(this)"></div>
	
<ul id='usernavigation' onmousedown="onMouseDown(this)">
  <li class="usernavitem" style="position:relative;" id="main">Головна</li>
  <li class="usernavitem"  style="position:relative;" id="about">Про університет</li>
  <li class="usernavitem"  style="position:relative;" id="information">Інформація</li>
  <li class="usernavitem" style="position:relative;" id="address">Контакти</li>
</ul>
	
<div id='usermain'  onmousedown="onMouseDown(this)">
  
<div onmousedown="onMouseDown(this)" style="width:300px;position:relative;border: 2px solid black;float:left;" > 	 <h1 id="headerMenu" onmousedown="onMouseDown(this)">Новини</h1>
    <h3>Факультети</h3>
    <p ondblclick="changeInnerContent(this)" onmousedown="onMouseDown(this)">Філософський</p>
    <p ondblclick="changeInnerContent(this)" onmousedown="onMouseDown(this)">Прикладної математики</p>
    <p ondblclick="changeInnerContent(this)" onmousedown="onMouseDown(this)">Історичний</p>
    <p ondblclick="changeInnerContent(this)" onmousedown="onMouseDown(this)">Географічний</p>
</div>

<div onmousedown="onMouseDown(this)" id="newscontainer" style="width:620px;border: 2px solid black;float:left;position:relative;margin-left:50px" >

  <h1 id="headerMenu" onmousedown="onMouseDown(this)">Оголошення</h1>

  <div class="news" onmousedown="onMouseDown(this)">
  	<h2 class="nHeader">Новина 1</h2>
  	<img  ondblclick="changeImage(this)" id="nImg" class="imgleft" src="/images/templateLNU/new1.png" alt="new1"/>
  	<p ondblclick="changeInnerContent(this)" id="nText" class="contentright">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur venenatis gravida risus, ac sodales purus pretium ac. Sed sodales velit vitae purus eleifend, nec rutrum mi aliquet. Sed pellentesque viverra est. Integer rhoncus hendrerit odio, quis posuere neque tristique non. Quisque cursus tellus dignissim, facilisis sem ut, congue risus. Donec massa ipsum, egestas non blandit in, porttitor et justo. Vestibulum nulla felis, ornare in lacinia at, sodales et nulla.</p>
  	<hr/>
  </div>
  
  <div class="news" onmousedown="onMouseDown(this)">
  	<h2 class="nHeader">Новина 2</h2>
  	<img  id="nImg" class="imgleft" src="/images/templateLNU/new2.png" alt="new2"/>
  	<p ondblclick="changeInnerContent(this)" id="nText" class="contentright">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur venenatis gravida risus, ac sodales purus pretium ac. Sed sodales velit vitae purus eleifend, nec rutrum mi aliquet. Sed pellentesque viverra est. Integer rhoncus hendrerit odio, quis posuere neque tristique non. Quisque cursus tellus dignissim, facilisis sem ut, congue risus. Donec massa ipsum, egestas non blandit in, porttitor et justo. Vestibulum nulla felis, ornare in lacinia at, sodales et nulla.</p>
  	<hr/>
  </div>
  
  <div class="news" onmousedown="onMouseDown(this)">
  	<h2 class="nHeader">Новина 3</h2>
  	<img id="nImg" class="imgleft" src="/images/templateLNU/new3.png" alt="new3"/>
  	<p ondblclick="changeInnerContent(this)" id="nText" class="contentright">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur venenatis gravida risus, ac sodales purus pretium ac. Sed sodales velit vitae purus eleifend, nec rutrum mi aliquet. Sed pellentesque viverra est. Integer rhoncus hendrerit odio, quis posuere neque tristique non. Quisque cursus tellus dignissim, facilisis sem ut, congue risus. Donec massa ipsum, egestas non blandit in, porttitor et justo. Vestibulum nulla felis, ornare in lacinia at, sodales et nulla.</p>
  	<hr/>
  </div>
  

</div>
</div>
<div id='userfooter' onmousedown="onMouseDown(this)" ></div>
