<style>
    body {
      font-family: "Calibri";
    }
	
	#userheader  {
	height:150px;
	width:990px;
	position: relative; 
	background-image:url(/images/templateLNU/headerImage.png);
	background-position:left;
	background-size:contain;
	background-repeat: no-repeat;
	background-color:#004366;
	}
	p {
	position: relative; 
	}
	#usermain {
	border:1px dashed black;
	height:400px;
	width:990px;
	
	background-position:center;
	background-size:contain;
	background-repeat: no-repeat;
position: relative; 
	margin-top:10px;
	}
	#usercontent {
	border: 1px dashed black;
	height:400px;
	background-image:url(/images/add_button.png);
	background-position:center;
	background-size:contain;
	background-repeat: no-repeat;
	width:1000px;
	margin-top:10px;
position: relative; 
	}
	#userfooter{
	height:70px;
	background-position:center;
	background-size:contain;
	background-repeat: no-repeat;
	width:990px;
	background-color:#004366;
	margin-top:10px;
	position: relative; 
    }	
	#usernavigation{
	height:50px;
	width:990px;
	margin-top:10px;
    position:relative; 
    background-color:#ebebeb;
    }
	ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
 }
li {
   
  padding: 7px 0 0px 0;
  width: 20%;
  text-align: center;
  border-right: 2px solid #ff0000;
  display: inline-block;
  height:50px;
  vertical-align:middle;
  font-size: 20px;
}
h1 {
	color: gray;
  font-weight: bold;
  font-size: 23px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
}
</style>
<div id="userheader" onmousedown="onMouseDown(this)"></div>
	
<ul id='usernavigation' onmousedown="onMouseDown(this)">
  <li class="usernavitem" onmousedown="onMouseDown(this)" style="position:relative;">Головна</li>
  <li class="usernavitem" onmousedown="onMouseDown(this)" style="position:relative;">Про університет</li>
  <li class="usernavitem" onmousedown="onMouseDown(this)" style="position:relative;">Інформація</li>
  <li class="usernavitem" onmousedown="onMouseDown(this)" style="position:relative;">Контакти</li>
</ul>
	
<div id='usermain'  onmousedown="onMouseDown(this)">
  <h1 id='userheadernews' onmousedown="onMouseDown(this)">Новини</h1>
  <div id ='usernews' onmousedown="onMouseDown(this)" style="position:relative;"> 
    <img onmousedown="onMouseDown(this)" style="position:relative;" src="/images/templateLNU/first.png" alt="First image"/>
    <img onmousedown="onMouseDown(this)"  style="position:relative;" src="/images/templateLNU/second.png" alt="Second image"/>
    <img style="position:relative;" src="/images/templateLNU/third.png" alt="Third image"/>
    <img style="position:relative;" src="/images/templateLNU/fourth.png" alt="Fourth image"/>
  </div>
  <h1 id='userheaderarticle' onmousedown="onMouseDown(this)">Оголошення </h1>
  <div onmousedown="onMouseDown(this)"></div>
</div>
	
<div id='userfooter' onmousedown="onMouseDown(this)" ></div>
