<div id="templateExamples">
        <div class="example"></div>
        <div class="example"></div>
        <div class="example"></div>
        <div class="example"></div>
        <div class="example"></div>
        <div class="example"></div>
        <div class="example"></div>
        <div class="example"></div>
</div>